<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="4.4.0" targetFramework="net472" />
  <package id="Corrected.Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1358.0" targetFramework="net472" />
  <package id="DotNetKit.Wpf.AutoCompleteComboBox" version="1.4.0" targetFramework="net472" />
  <package id="FontAwesome.WPF" version="4.7.0.9" targetFramework="net472" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net472" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net472" />
  <package id="MahApps.Metro" version="2.4.5" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.12.2" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Logging" version="6.12.2" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.12.2" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net472" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1449.0" targetFramework="net472" />
  <package id="Microsoft.ReportViewer.WinForms.v12" version="12.0.0.1" targetFramework="net472" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net472" />
  <package id="Panteam.MetroChart" version="1.0.1" targetFramework="net472" />
  <package id="PDFsharp" version="1.50.5147" targetFramework="net472" />
  <package id="RestSharp" version="106.12.0" targetFramework="net472" />
  <package id="System.Drawing.Common" version="5.0.2" targetFramework="net472" />
  <package id="System.IdentityModel.Tokens.Jwt" version="6.12.2" targetFramework="net472" />
  <package id="System.Management" version="5.0.0" targetFramework="net472" />
  <package id="System.Reactive" version="4.0.0" targetFramework="net472" />
  <package id="Tulpep.NotificationWindow" version="1.1.38" targetFramework="net472" />
  <package id="WPFTabTip" version="1.2.2" targetFramework="net472" />
</packages>